<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能工具</title>
    <!-- 返回按钮 -->
    <a href="/" class="floating-button">返回</a>
    <!--引入图标库-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- 引入自定义 CSS 样式 -->
    <link rel="stylesheet" href="../static/css/tools.css">

</head>
<body>
<div class="container">
    <h1>智能工具</h1>
    <div style="text-align: center;">
        <p>欢迎使用智能工具页面</p>
    </div>

    <div class="module">
        <a href="/tools/weather"><i class="fas fa-cloud-sun-rain"></i><span>天气查询</span></a>
        <a href="#"><i class="fas fa-walking"></i><span>计步器</span></a>
        <a href="/tools/Memo"><i class="fas fa-clipboard"></i><span>备忘录</span></a>
    </div>
</div>
</body>
</html>
